 body {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.project-thumbnail {
    height:70px;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-family: 'Arial', sans-serif, bold;
}

.green {
    color: #00e489;
}

h3.date {
    font-style: italic;
    font-size: 15px;
}

.search-link {
    border: 1px solid #cccdce;
    display: block;
    background-color: #edeeef;
    padding: 10px 5px;
    color: #333;
}

.search-link:hover {
    color: #333;
}

.search-group {
    margin-top: 15px;
}

.search-input {
    margin-bottom: 20px;
}
