<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Company Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
      <h1 class="title green"> Company Dashboard </h1>
      <div class="container-fluid">
        <div class="col-sm-8">
              <h2 class="title">Current Projects</h2>
              {{ if .P }}
                {{ range .P }}
                    <div class="row">
                      <div class="col-sm-6 text-left">
                        <h2>{{ .Title }}</h2>
                      </div>
                      <div class="col-sm-6 text-right">
                        <h4 class="date"> Started on: {{ .Created }}</h4>
                      </div>
                    </div>
                    <br>
                      <div>Ask about this project to: {{ .Contact }}</div>
                    <a class="green" href="/project/{{ .Id }}">See all project information>></a>
                    <hr>
                {{ end }}
              {{ end }}
              </div>
              <div class="col-sm-4">
              <h2 class="title">All Wireframes</h2>
              {{ if .D }}
                {{ range .D }}
                    <div class="row">
                      <div class="col-sm-6 text-left">
                        <img class="project-thumbnail" src="{{ .Image }}">
                        <h3>{{ .Title }}</h3>
                        <a class="green" href="{{ .URL }}">Go to Wireframe>></a>
                        {{if .Edited}}
                        <div class="green"> Somebody is working on this </div>
                        {{ end }}
                      </div>
                      <div class="col-sm-6 text-right">
                        <h4 class="date"> Last Update On:</h4>
                        <h5 class="date"> {{ .LastUpdate }}</h5>
                      </div>
                    </div>
                    <br>
                    <hr>
                {{ end }}
              {{ end }}
              </div>
        </div>
    </body>
</html>
